<html>

<head>
	<title>Telephone Directory App</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Font Awesomes for my icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
	<div class="container">
		<hr>
		<div class="panel panel-primary">
			<div class="panel-heading">Telephone Director App</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8">
						<strong><i class="fa fa-users"></i> All Users</strong>
					</div>

					<div class="col-md-4">
						<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add">
							<i class="fa fa-user-plus"></i> Add Person</button>
					</div>
					<span class="clearfix"></span>
					<hr>
					<div class="alert alert-info" ng-if="message">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> User added Successfully !
					</div>
				</div>
				
	
		<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><i class="fa fa-user"></i> Firstname</th>
							<th><i class="fa fa-user"></i> Lastname</th>
							<th><i class="fa fa-phone"></i> Telephone No</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
							<td>{{user.FNAME}}</td>
							<td>{{user.LNAME}}</td>
							<td>{{user.TELEPHONE}}</td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit"
									ng-click="selectUser(user)"><i class="fa fa-edit"></i> Edit</button>
							</td>
							<td>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"
									ng-click="selectUser(user)"><i class="fa fa-user-times"></i> Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>


	</div>

	<!-- Modal -->
	<div class="modal fade" id="add" role="dialog">
		<div class="modal-dialog modal-md">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-user-plus"></i> Add Person </h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-3" for="name">First Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="cfname" id="fname_id"
									placeholder="Enter First Name" ng-model="newUser.FNAME">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="name">Last Name:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="clname" id="lname_id"
									placeholder="Enter Last Name" ng-model="newUser.LNAME">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" for="age">Telephone No:</label>
							<div class="col-sm-7">
								<input type="number" class="form-control" name="cNumber" id="Number_id"
									placeholder="Enter Telephone Num" ng-model="newUser.TELEPHONE">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-info" ng-click="saveUser()"
									data-dismiss="modal">Save</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="edit" role="dialog">
		<div class="modal-dialog modal-md">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-edit"></i> Edit Person</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-sm-3" for="name">First Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="cfname" id="fname_id"
									placeholder="Enter First Name" ng-model="clickedUser.FNAME">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="name">Last Name:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="clname" id="lname_id"
									placeholder="Enter Last Name" ng-model="clickedUser.LNAME">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" for="name">Telephone No:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="clname" id="lname_id"
									placeholder="Enter Last Name" ng-model="clickedUser.TELEPHONE">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-info" ng-click="updateUser(user)"
									data-dismiss="modal">Update</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="delete" role="dialog">
		<div class="modal-dialog modal-md">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Person</h4>
				</div>
				<div class="modal-body">
					<span>Do You Want To Delete This Person Permanently ?</span>
					<br>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="deleteUser()">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

</body>

</html>